<table style="width: 100%;" class="table table-hover table-striped table-bordered tg">
    <thead>
        <tr>
            <th style="">No</th>
            <th style="">Nama</th>
                        <th style="">Jurusan</th>
                        <th style="">Tahun Ajaran</th>
            
            <th style="">Keterangan</th>
                    </tr>
    </thead>
    <tbody>
                        <tr>
            
            </td>
            
            <td>
                
                Lunas
            </td>
                    </tr>
            </tbody>
</table>