<table style="width: 100%;" class="table table-hover table-striped table-bordered tg">
    <thead>
        <tr>
            <th style="">No</th>
            <th style="">Nama</th>
                        <th style="">Jurusan</th>
                        <th style="">Tahun Ajaran</th>
            
            <th style="">Keterangan</th>
                    </tr>
    </thead>
    <tbody>
                        <tr>
            <td style="text-align:center;">1</td>
            <td>Test Siswa</td>
                        <td></th>
                        <td>
                2022-2023
            </td>
            
            <td>
                
                Lunas
            </td>
                    </tr>
            </tbody>
</table>