Data Pembayaran Daftar Ulang
<table>
    <tr>
        <td>No</td>
        <td>Nama</td>
        <td>NISN</td>
        <td>NIK</td>
        <td>KK</td>
        <td>Tempat Lahir</td>
        <td>Tanggal Lahir</td>
        <td>Jenis Kelamin</td>
        <td>Agama</td>
        <td>No HP</td>
    </tr>
            
    <tr>
        <td>1</td>
        <td>Jumarno</td>
        <td>222</td>
        <td>812391900011312</td>
        <td>848954773900012</td>
        <td>sss</td>
        <td>2021-10-25</td>
        <td>Laki-laki</td>
        <td>Islam</td>
        <td>087687384744</td>
    </tr>
    </table>